<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }

        .show{
            background-color: aqua;
            height: 300px;
            width: 200px;
        }
        .show img{
            width: 95%;
            padding: 5px;
        }
    </style>
</head>
<body>
   <div class="show">
    <img src="https://m.media-amazon.com/images/I/417PwBC+iEL._SX342_SY445_.jpg" alt="">
   </div> 
</body>
</html>