{% extends "html/main/lay.html" %}
{% load static %}
{% block content %}

<h1>Bala and Rohith</h1>



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'products/asus tuf banner.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'products/vivo X80 banner.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'products/boat h.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="boat">
  <div class="exclusive">
    <img src="{% static 'products/asus tuf ex.png' %}" alt="" class="offer">
   <div class="words"> 
    <p>Exclusive offer Now going</p>
    <h1>Asus TUF</h1>
    <h4><b>*3,96,990</b></h4> <small> truke Buds Q1 Bluetooth Truly Wireless in Ear Earbuds with mic, 60H Playtime and Fast Charge,<br> Environmental Noise Cancellation(ENC), AAC Codec, Dedicated Gaming Mode, BT 5.1 </small>
  </div>
  </div>
</div>

<div class="dis">
  <div class="show" style="height: 350px;">
      <img src="{% static 'products/asus tuf.jpg' %}" alt="">
      <h4>Asus TUF</h4>
      <p class="prize"><s> ₹79,990</s> &nbsp; <b style="color: green;">₹64,750</b></p>
  </div>
  
  <div class="show" style="height: 350px;">
      <img src="{% static 'products/mac air.jpg' %}" alt="">
      <h4>Apple MacBook Air</h4>
      <p class="prize"><s> ₹99,900</s> &nbsp; <b style="color: green;">₹77,490</b></p>
  </div>
  
  <div class="show" style="height: 350px;">
      <img src="{% static 'products/hp.jpg' %}" alt="">
      <h4>HP Pavilion</h4>
      <p class="prize"> <s> ₹92,404</s> &nbsp; <b style="color: green;">₹76,990</b></p>
  </div>
  </div>

  <div class="boat">
    <div class="exclusive">
      <img src="{% static 'products/vivo X80 ex.png' %}" alt="" class="offer">
    <div class="words">
      <p>Exclusive offer Now going</p>
      <h1>vivo X80</h1>
      <h4><b>*₹54,999</b> </h4><small>  6Gb Ram 128 Gb Internal Storage </small>
    </div>
    </div>
  </div>
    
  <div class="dis">
  <div class="show" style="height: 375px;">
      <img src="{% static 'products/vivo.jpg' %}" alt="">
      <h4>vivo X80</h4>
      <p class="prize"><s> ₹59,999</s> &nbsp; <b style="color: green;">₹54,999</b></p>
  </div>
  
  <div class="show" style="height: 375px;">
      <img src="{% static 'products/iphone.jpg' %}" alt="">
      <h4>APPLE iPhone 13</h4>
      <p class="prize"><s> ₹69,900</s> &nbsp; <b style="color: green;">₹62,999</b></p>
  </div>
  
  <div class="show" style="height: 375px;">
      <img src="{% static 'products/One Plus.jpg' %}" alt="">
      <h4>OnePlus 10T 5G</h4>
      <p class="prize"> <s> ₹53,490</s> &nbsp; <b style="color: green;">₹49,490</b></p>
  </div>
  </div>
  

  <div class="boat">
    <div class="exclusive">
      <img src="{% static 'products/boat ex.png' %}" alt="" class="offer">
    <div class="word" style="color: black;">
      <p><b> Exclusive offer Now going</b></p>
      <h1>boAt Immortal IM1000D</h1>
      <h4><b>*2,299</b></h4><small></small>  Bluetooth Calling
        Answer & make calls with bluetooth. Make & receive phone calls <br>directly from your watch, anywhere and anytime. </small>
    </div>
    </div>
  </div>
    
  <div class="dis">
    <div class="show" style="height: 350px;">
        <img src="{% static 'products/boat.jpg' %}" alt="">
        <h4>boAt Immortal<h4>
        <p class="prize"><s> ₹5,900</s> &nbsp; <b style="color: green;">₹2,299</b></p>
    </div>
    
    <div class="show" style="height: 350px;">
        <img src="{% static 'products/matress.jpg' %}" alt="">
        <h4>Spring Mattress</h4>
        <p class="prize"><s> ₹24,264</s> &nbsp;  <b style="color: green;">₹20,624</b></p>
    </div>
    
    <div class="show" style="height: 350px;">
        <img src="{% static 'products/watch.jpg' %}" alt="">
        <h4>Fossil Analog Blue</h4>
        <p class="prize"> <s> ₹10,995</s> &nbsp; <b style="color: green;">₹7,145</b></p>
    </div>
    </div>

{% endblock content %}
